<app-menu></app-menu>

<div class="container">
    <div class="card mb-3">
        <img [src]="article[0].img" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title text-center">{{ article[0].titre }}</h2>
          <p class="card-text">{{ article[0].contenu }}</p>
          <div class="d-flex justify-content-between">
            <span>Prix : {{ article[0].prix }}</span>
            <a href="" class="btnAjouterPanier">
              <i class="material-icons">credit_card</i>
                                Buy it
            </a>
          </div>
          <p class="card-text"><small class="text-muted">Posted by {{ article[0].auteur }}, on {{ article[0].dateCreation | date }}</small></p>
          <a routerLink="/">Go Back</a>
        </div>
      </div>
</div>

<app-footer></app-footer>



