<div class="container-fluid bg-light vh-100">

    <app-top-bar></app-top-bar>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active" aria-current="page">Backoffice Home
                /</li>
        </ol>
    </nav>


    <div class="row">
        <div class="col-md-2 bg-light">

            <app-menu-back></app-menu-back>

        </div>
        <div class="col-md-10 bg-light">
            
            <app-backoffice-stats></app-backoffice-stats>

        </div>
    </div>


    
</div>