.myHeading {
	font: normal 2rem "Raleway";
	color: #595959;
    text-transform: uppercase;
    margin-top: 5rem;
    padding: 0;
}
mark {
	font-family: 'Lato';
	color: #a6a6a6;
}
.description {
	background: var(--gray1);
	border-radius: 10px;
}
