<div class="bg-light">
    <ul class="nav flex-column">
        <li>
            <h6 class="mt-5 text-secondary">BACKOFFICE MENU</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/backoffice"><i class="material-icons">arrow_right_alt</i>Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/backoffice/gestion-articles"><i class="material-icons">arrow_right_alt</i>Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/backoffice/gestion-users"><i class="material-icons">arrow_right_alt</i>Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/backoffice/parametres"><i class="material-icons">arrow_right_alt</i>Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/"><i class="material-icons">arrow_right_alt</i>Exit </a>
        </li>
    </ul>
</div>