.breadcrumb li a {
    color: darkturquoise;
}

button.btn {
    background: turquoise;
    border: 1px solid turquoise;
    color: white;
    transition: all ease .4s;
}
button.btn:hover, 
button.btn:active, 
button.btn:focus {
    background: tomato !important;
	border: 1px solid tomato !important;
	color: white !important;
    box-shadow: none !important;
    /* filter: hue-rotate(45deg); */
}


.form-group {
	color: #595959;
}
.form-control {
	border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    background:  #f8f9fa;
}
.form-control:focus {
	box-shadow: none;
    border-bottom: 1px solid ;
    border-radius: 0px;
}